@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --header-height: 80px;
    --header-management-height: 67px;
    --white-color: #fff;
    --text-primary: #000;
    --text-secondary: #555555;
    --text-link: #337ab7;
    --text-white: #fff;
    --main-color-1: #2477bf;
    --main-color-2: #6595bf;
    --main-color-3: #9ac7d9;
    --main-color-4: #c9ebf2;
    --main-color-5: #397373;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    letter-spacing: 1px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    background-color: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5 {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

input,
select,
option {
    border: none;
    outline: none;
}

ul {
    margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: inherit !important;
}

select {
    min-width: 100px;
    background-color: #6595bf;
    border-bottom: 1px solid #333;
    padding: 4px 8px;
    font-size: 1.6rem;
    cursor: pointer;
}

option {
    background-color: var(--main-color-3);
}
