.background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
.background-img {
    width: 100%;
    object-fit: cover;
}

.content {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
}
.form {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 400px;
}
.title {
    margin: 28px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}
.form-group {
    margin-bottom: 20px;
}

.feild {
    font-size: 20px;
    margin-bottom: 12px;
    background-color: #ccc;
    padding: 8px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: #333;
    border: 1px solid transparent;
}

.error {
    border-color: red;
}

.error-mess {
    padding-left: 12px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: red;
}

.label {
    cursor: pointer;
}

.input {
    flex: 1;
    background-color: #ccc;
    font-size: 20px;
    margin-left: 8px;
    color: var(--text-secondary);
}

.login-btn {
    margin-top: 20px;
}

.social-login {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-login-title {
    margin-bottom: 16px;
}
.social-button {
    width: 100%;

    display: flex;
    align-items: center;
}
.social-login-button {
    flex: 1;
}

.signup {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
.signup-link {
    display: inline-block;
    text-decoration: underline;
    font-weight: 500;
}
