.form {
    @apply flex items-start z-[9999];
}

.form-group {
    @apply mt-4 flex flex-col;
}

.label {
    @apply block mb-1 text-xl;
}

.label-img {
    @apply cursor-pointer hover:text-white;
}

.input {
    @apply z-[9999] w-full py-2 px-3 text-xl border border-transparent bg-cyan-50 focus:border-sky-700 focus:shadow-sm;
}

.editor {
    @apply border border-transparent;
}

.error {
    @apply border-red-600;
    animation: shake 0.5s;
}

.err-mess {
    @apply m-2 text-red-600 text-xs font-medium;
}

.preview {
    @apply block relative w-[200px] aspect-square inline-flex items-center justify-center p-5 text-[40px] bg-cyan-100 border border-transparent rounded overflow-hidden;
}

.preview-img {
    @apply block absolute left-0 top-0 w-full aspect-square object-cover;
}
.add-image-btn {
    @apply w-[200px] text-center;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

//multipleImages

.container {
    @apply min-w-full max-w-sm sm:max-w-6xl flex items-center p-2 overflow-x-auto border border-gray-400 bg-cyan-300;
}
.descImage-label,
.descImage-preview {
    @apply w-[100px] h-[100px] aspect-square relative mr-3;
}

.descImage-label {
    @apply flex items-center justify-center text-[40px];
}

.descImage-preview-img {
    @apply block w-full aspect-square object-cover;
}

.del-btn {
    @apply absolute top-0 right-0 cursor-pointer;
}
