.container {
    padding: 20px 0;
    max-width: 700px;
    margin: auto;
}
.intro {
    display: flex;
    align-items: flex-start;
}
.thumb {
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.info {
    padding: 8px 16px;
    .title {
        font-size: 1.6rem;
        line-height: 1.6;
        color: var(--text-secondary);
    }
    .name {
        font-size: 2rem;
        color: var(--text-link);
        margin-bottom: 8px;
    }
    .time {
        font-size: 1.4rem;
        font-weight: 400;
        text-transform: lowercase;
    }
}

.form {
    margin-top: 40px;
}
.type {
    span {
        margin-right: 16px;
    }
}

.feild {
    margin-top: 16px;
    width: 100%;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.label {
    padding-right: 12px;
    color: #333;
}

.payment {
    margin-top: 16px;
}

.cost {
    border-radius: 4px;
    overflow: hidden;
    padding: 16px;
    margin-top: 12px;
    background-color: #f6f6f6;
    font-size: 1.6rem;
    line-height: 21px;
    color: var(--text-secondary);
}
.line {
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total-cost {
    padding-top: 12px;
    border-top: 1px solid #000;
    color: #fe3834;
}
.warning {
    padding: 12px 0;
    font-size: 1.4rem;
    color: var(--text-secondary);
    text-align: center;
}
.notice {
    padding: 16px;
    background-color: #d4effc;
    border-radius: 4px;
}
.title-notice {
    font-size: 1.6rem;
}

// .content-notice {
// }

.rule {
    margin-top: 12px;
    font-size: 1.4rem;
}
.confirm {
    .confirm-link {
        display: inline-block;
        font-weight: 500;
        color: var(--text-link);
    }
    font-size: 1.4rem;
}

.submit {
    margin: 12px 0;
    // display: flex;
    // justify-content: center;
}

.submit-btn {
    display: table;
    margin: auto;
}
