.item {
    flex: 1;
    color: rgb(28 25 23);
    padding: 16px;
    &:hover {
        color: rgb(29 78 216);
    }
    @media (min-width: 1024px) {
        padding: 0 16px;
    }
}

.active {
    color: rgb(29 78 216);
}

.heading {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.description {
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
}
