.container {
    display: flex;
    align-items: center;
}
.item {
    flex: 1;
    &:hover .nav {
        color: var(--text-link);
    }
    &:hover .sub-nav {
        color: var(--text-link);
    }
}
.nav {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
}
.sub-nav {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-secondary);
}
