.item {
    flex: 1;
    color: var(--text-link) !important;
}
.nav {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
}
.sub-nav {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-secondary);
}
