.wrapper {
    border-bottom: 1px solid #333;
    background-color: #397373;
    height: var(--header-management-height);
}
.container {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 !important;
}
.logo {
    display: block;
    width: 200px;
}
.logo-img {
    display: block;
}
.info {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.avatar-img {
    display: block;
    width: 50px;
    aspect-ratio: 1/1;
}
.name {
    margin-left: 12px;
}
