.wrapper {
    background-color: #c9ebf2;
    position: relative;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.sidebar {
    background-color: var(--main-color-2);
    min-height: 100vh;
    overflow-y: hidden;
}
.content {
    margin-top: var(--header-management-height);
    display: flex;
    align-items: flex-start;
    background-color: #ccc;
    overflow-y: auto;
    position: relative;
    z-index: 0;
}

.page {
    flex: 1;
    margin: 20px 40px;
    z-index: 0;
}
