.container {
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: column;
    margin-top: 32px;
}
.title {
    font-size: 2.8rem;
    margin-bottom: 12px;
}

.item {
    display: block;
}

.item.doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
    .thumb-img {
        margin: auto;
        width: 80%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;
    }
    .name {
        text-align: center;
    }
    .desc {
        text-align: justify;
    }
}

.border {
    padding: 8px;
    border: 0.2px solid #ccc;
    border-radius: 4px;
}

.thumb {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.thumb-img {
    width: 100%;
}

.info {
    margin-top: 12px;
}
.name {
    margin-bottom: 4px;
    font-weight: 600;
    &:hover {
        color: var(--text-link);
    }
}
.desc {
    cursor: text;
}
