.section {
    margin-bottom: 20px;
}
.section-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(107 114 128);
}
.section-content {
    padding: 12px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.footer {
    padding: 12px 0;
    border-bottom: 1px solid rgb(107 114 128);
}

.btn {
    padding: 12px;
}
