.container {
    padding: 32px 0;
}
.intro {
    display: flex;
    align-items: flex-start;
}
.thumb {
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.thumb-img {
    display: block;
    width: 100%;
}

.info {
    margin: 20px;
}
.name {
    margin-bottom: 12px;
    font-size: 2.4rem;
}
.short-desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-secondary);
}

.booking {
    margin: 40px 0;
    display: flex;
    align-items: flex-start;
}
.schedule {
    flex: 1;
}

.schedule-title {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--text-link);
}

.date {
    padding: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: 2px solid #333;
    cursor: pointer;

    &:hover {
        color: var(--text-link);
        border-color: var(--text-link);
    }
}

.booking-info {
    padding-left: 20px;
    border-left: 0.5px solid var(--text-secondary);
    line-height: 1.6;
}

.title {
    color: #666;
}
.hospital {
    font-weight: 600;
}
.hospital-address,
.price-detail {
    font-size: 1.4rem;
    font-weight: 400;
}

.price {
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
    .price-detail {
        margin-left: 12px;
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.desc,
.comments {
    border-top: 1px solid #ccc;
    padding: 16px 0;
}

.comments-title {
    margin-bottom: 16px;
    font-size: 2.4rem;
}
.item {
    padding: 8px 0;
    border-bottom: 0.5px solid rgb(168, 168, 168);
}
.user-name {
    color: var(--text-primary);
    font-size: 1.6rem;
    margin-bottom: 4px;
}

.feedback-content {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-secondary);
}
