.sidebar {
    min-height: 100%;
    display: block;
}
.item {
    padding: 12px 15px 12px 15px;
    display: flex;
    align-items: center;
    border-left: 4px solid transparent;
}
.item.active {
    border-color: rgb(75 85 99);
    background-color: rgb(96 165 250);
}

.icon {
    margin-right: 8px;
    min-width: 32px;
}
.text {
    font-size: 16px;
    font-weight: 500;
}
